:root {
  --blue: #1fa2f1;
  --blueblack: #2f9bdd;
  --bluehover: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a {
  color: inherit;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: var(--blue);
  background: var(--bluehover);
  border-radius: 50%;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav .blue {
  color: var(--blue);
}

.mainSectionContainer {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  background: #f0f0f08c;
}

.titleContainer {
  height: 55px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: white;
}

#postFormContainer {
  background: white;
  display: flex;
}

#postFormContainer form {
  flex: 1;
}

#postTextarea {
  width: 100%;
  border: none !important;
}

#postTextarea:focus {
  box-shadow: none !important;
}

#postButton {
  border: none !important;
  border-radius: 25px;
  background: var(--blue);
  box-shadow: none;
  transition: 0.4s;
}

#postButton:hover {
  background: var(--blueblack);
}

#postContainer {
  width: 100%;
  background: white;
}

.post {
  border-bottom: 1px solid var(--lightGrey);
}

.mainContentContainer {
  display: flex;
}

.postContentContainer {
  flex: 1;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.postButtonContainer button {
  border: none;
  background: inherit;
  border-radius: 50%;
}

.postButtonContainer {
  border-radius: 50%;
  transition: 0.4s;
}

.postButtonContainer:hover {
  border-radius: 50%;
  background: #5cb9f0;
}

.postButtonContainer:hover i {
  color: white;
}

.date {
  color: gray;
  font-weight: 500;
  font-size: 13px;
}

.searchContainer {
  height: 55px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: white;
  width: 100%;
}

.searchFormContainer {
  width: 100%;
  border: 0px;
  padding: 7px 20px;
  border-radius: 30px;
  display: flex;
  background: #f4f4f4;
}

.searchFormContainer:focus {
  border: 1px solid var(--blue);
}

.searchFormContainer button {
  border: 0px;
  background: inherit;
  color: #c9c9c9;
}

.searchFormContainer input {
  flex: 1;
  margin-left: 5px;
  border: 0px;
  background: #f4f4f4;
}

.searchFormContainer input:focus {
  border: 0px;
  outline: 0px;
}

a#search {
  display: none;
}

.followFormContainer {  
  width: 100%;
  height: 500px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #0f0f0f0d;
}

.followFormContainer h1 {
  color: #3d3a3a;
  font-size: 22px;
}

.followList {
  list-style: none;
  padding: 0px 0px;
}

.followUser {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.followUser:hover {
  background:rgb(230, 236, 240);
}

.followUserContainer {
  display: flex;
}

.followContent {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.followContent a{
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.4s;
}

.followContent a:hover{
  color: #494949;;
  text-decoration: underline;
}

.followButton {
  border: none !important;
  height: 38px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  background: var(--blue);
  box-shadow: none;
  transition: 0.4s;
}

#card {
  width: 100%;
  background: #fafafa;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #fafafa;
}

#card .description {
  margin: 25px 0;
}

.description .line {
  background: #656871;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}

.description .line::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #656871 0%,
    #888b94 20%,
    #656871 40%,
    #656871 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}
