.postButtonContainer button:focus {
  box-shadow: 0px;
  outline: 0px;
}

.postButtonContainer button {
  border: none;
  background: inherit;
  border-radius: 50%;
}

.likeContainer {
  display: flex;
  transition: 0.5s;
}

.likeContainer.liked {
  color: rgb(249, 24, 128);
}

.likeContainer.liked i {
  color: rgb(249, 24, 128);
}

.likeContainer:hover {  
  color: rgb(249, 24, 128);
}

.likeContainer i {
  padding: 7px 7px;
  border-radius: 50%;
}

.likeContainer:hover i {
  background: rgba(228, 87, 153, 0.466);
  color: rgb(249, 24, 128);
}

.amountLike {
  padding: 3px 0px;
  flex: 1;
}

.retweetContainer {
  display: flex;
  transition: 0.5s;
}

.retweetContainer:hover {
  color: rgb(0, 186, 124);
}

.retweetContainer i {
  padding: 7px 7px;
  border-radius: 50%;
}

.retweetContainer:hover i {
  background: rgba(115, 238, 197, 0.336);
  color: rgb(0, 186, 124);
}

.amountRetweet {
  padding: 3px 0px;
  flex: 1;
}

.commentContainer {
  display: flex;
  transition: 0.5s;
}

.commentContainer:hover {
  color: rgb(29, 155, 240);
}

.commentContainer i {
  padding: 4px 7px;
  border-radius: 50%;
}

.commentContainer:hover i {
  background: rgba(93, 175, 230, 0.541);
  color: rgb(29, 155, 240);
}

.commentContainer {
  padding: 3px 0px;
  flex: 1;
}
