@media only screen and (max-width: 992px) {
  a#search {
    display: block;
  }
  .third-col{
    display: none;
  }

  .toolContainer{
    position: absolute;
    left: 85%;
    top: 8px;
    display: flex;
  }

  .back-to-top {
    display: none;
  }
  
}
