span.userProfile {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.infoUserContainer {
  margin-left: 30px;
}

.infoUserContainer h1 {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
}

.infoUserContainer p {
  margin: 0px;
  color: #858585;
}

form.formUserProfile {
  flex: 1;
  display: flex;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
}

.formUserProfile.show {
  opacity: 1;
  visibility: visible;
}

form.formUserProfile button {
  border: none !important;
  border-radius: 25px;
  background: var(--blue);
  box-shadow: none;
  transition: 0.4s;
}

#profileContainer {
  background: white;
}

.backgroundProfile {
  width: 100%;
  height: 300px;
  position: relative;
}

.backgroundProfile img {
  width: 100%;
  height: 100%;
}

.avatarProfile {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -80px;
  padding: 0px 5px 0px 20px;
}

.avatarProfileContainer {
  height: 150px;
  width: 150px;
  border: 6px solid white;
  border-radius: 50%;
  position: relative;
}

.avatarProfileContainer:hover .uploadAvatarContainer{
  opacity: 1;
  visibility: visible;
}

.uploadAvatarContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.uploadAvatarContainer .uploadButton {
  background: no-repeat;
}

.avatarProfileContainer img {
  width: 100%;
  height: 100%;
}

.formFollowProfile {
  padding-top: 90px;
}

form.formFollowProfile button {
  border: none !important;
  border-radius: 25px;
  background: var(--blue);
  box-shadow: none;
  transition: 0.4s;
}

.uploadBackgroundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffff45;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.backgroundProfile:hover .uploadBackgroundContainer {
  opacity: 1;
  visibility: visible;
}

.uploadBackgroundContainer .uploadButton {
  background: no-repeat;
}

.uploadBackgroundContainer .uploadButton i {
  font-size: 25px;
}

.detailProfileContainer{
  /* margin-left: 20px; */
  position: relative;
  top: -75px;
  left: 45px;
  text-transform: capitalize;
}


.detailProfileContainer h4{
  margin: 0px;
}

.detailProfileContainer p{
  margin: 0px;
}

.followDetail{
  display: flex;
}

.followDetail span{
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.followDetail span h6{
  margin: 0px;
  margin-right: 3px;
  font-weight: 700;
}