<div id="postFormContainer" class="py-3 px-2 mb-2">
  <div class="postAvatar">
    <image
      class="rounded-circle"
      src="<%= avatar %> "
      alt="avatar"
      width="50"
      height="50"
    ></image>
    <button id="uploadButton" title="upload avatar">
      <i class="fas fa-camera"></i>
    </button>
  </div>
  <form class="mx-1">
    <div class="mb-1">
      <textarea
        id="postTextarea"
        class="form-control"
        placeholder="What's happening?"
        shadow-none
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="postButton" disabled>
      Tweet
    </button>
  </form>
</div>
