<div class="editorContainer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto mt-2 bg-light py-3" id="editorTop">
        <form method="post">
          <h1>Editor a new post</h1>
          <textarea class="summernote" cols="10" rows="10"></textarea>
          <div class="buttonEditorContainer mt-2">
            <button type="submit" id="btn-edit-cancel" class="btn btn-secondary">Cancel</button>
            <button type="submit" id="btn-save-edit" class="btn btn-primary mx-1">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
