<div id="postFormContainer" class="py-3 px-2 mb-2">
  <div class="postAvatar">
    <a href="<%= `/user-profile/${username}` %> ">
      <image
        data-avatar="<%= 'img' + _id + 'png' %>"
        class="rounded-circle"
        src="<%= getAvatar(avatar) %> "
        alt="avatar"
        width="50"
        height="50"
        title="<%= username %>"
      ></image>
    </a>
  </div>
  <form class="mx-1 postFormContent">
    <div class="mb-1">
      <textarea
        id="postTextarea"
        class="form-control"
        placeholder="What's happening?"
        shadow-none
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="postButton" disabled>
      Tweet
    </button>
    <button id="editButton" title="edit">
      <i class="fas fa-edit"></i>
    </button>
  </form>
</div>
