<div class="searchContainer fixed-top">
    <div class='searchFormContainer'>
        <button>
            <i class="fas fa-search"></i>
        </button>
        <form>
            <input id="search-user" type='text' placeholder="Search Twitter"></input>
        </form>
    </div>
    <div class="searchResult">
        <ul id="resultList">
                       
        </ul>
    </div>
</div>